@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: calc(5px + 13vh);
  line-height: calc(5px + 16vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}




    body{
		overflow:hidden;
        background-image: url("https://images.pexels.com/photos/1303085/pexels-photo-1303085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		background-repeat:no-repeat;
		background-position: center;
        background-size: cover;
		background-color:black;
    }
    h2{
        font-weight: bolder;
        font-size:40px;
        color:black;
        text-align: center;
        opacity: 1;
    }
    .box{
        background-color: white;
        opacity: 0.65;
        border:3px solid white;
        border-radius: 20px;
		margin: 0 auto;
    }
    li{
        list-style: none;
        margin:10px;
    }
    .score {
        font-size:20px;
        font-weight: bolder;
        padding:10px;
    }
    #panel1{
        border:1px #000000 solid;
        line-height:200px;
        font-size:100px;
        width:200px;
        height:200px;
        text-align:center;
        vertical-align:middle;
    }
    #panel2{
        padding-left:10px;
        border:1px #000000 solid;
        width:200px;
        height:100px;
        text-align:left;
        vertical-align:middle;
        overflow-y: scroll;
    }
    ul {padding:0px}


h3 {color:white;}



div canvas {
	position: absolute;
    top: 0;
	width:100%;
	z-index:-1;
}

.btn-success { background-color : 20c997;border-color : 20c997;}

.btn-danger { background-color : #ff4e60f5;border-color : #ff4e60f5;}
.btn-primary { background-color : #50aaff;border-color : #50aaff;}
